/* body */
body {
    background-image: url('ecran.png');
    backdrop-filter: blur(4px);
    background-size: cover;
    background-position: center;
    font-size: 16px;
    background-color: #81b5e9;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 20px;
}

/* result */
.result {
    font-family: "Dancing Script", cursive;
    font-size: 32px;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 0px 0px 10px #c2154f;
}

/* score */
.score {
    font-family: "Dancing Script", cursive;
    font-size: 28px;
    color: #fff;
    padding: 30px;
    border-radius: 20px;
    margin-top: 50px;
    box-shadow: 0 10px 20px rgba(146, 26, 26, 0.3);
    background: rgba(0,0,0,0.4);
}

/* messages */
#message.win {
    color: rgb(23, 187, 23);
}
#message.lose {
    color: red;
}
#message.draw {
    color: gray;
}

/* buttons */
.buttons button {
    background-color: #fff;
    border: 2px solid #a88512;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.2s;
    margin: 0 5px;
}

.buttons button:hover {
    transform: scale(1.1);
}

/* images */
.buttons img {
    width: 80px;
    height: 80px;
    transition: transform 0.3s;
}

.animate {
    transform: rotate(360deg) scale(1.3);
}

/* reset */
.reset {
    background-color: #855105;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 8px 15px;
    cursor: pointer;
}

.reset:hover {
    background-color: #ac923d;
}
/*    font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
    color:rgb(0, 0, 0);
    font-size: 30px;
    text-shadow:0px 0px 10px #c2154f;
    font-family: 'Montserrat', sans-serif;
    color: #bb7d61;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);*/